@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="wrapper wrapper-content">
    <div class="middle-box text-center">
        <h2 class="font-bold text-danger">@ViewData["Title"]</h2>
        <div class="error-desc">
            <p class="text-danger">No tienes acceso a este recurso.</p>
        </div>
    </div>
</div>
