@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido restablecida. <a asp-page="./Login"> haga clic aquí para iniciar sesión </a>.
</p>
